*{
    box-sizing: border-box;
}

.center{
    text-align: center;
}

.nomargin{
    margin: 0;
}

.half-margin{
    margin: .5ex;
}

.margin{
    margin: 1ex;
}

.double-margin{
    margin: 2ex;
}

.noborder{
    border: none;
}

.noborder:focus{
    outline: none;
}

.thin-border{
    border: solid 1px rgba(0, 0, 0, 0.495);
}

.nobackground{
    background: transparent;
}

.bottom-border{
    border-bottom: solid 1.5px rgb(34, 34, 34) !important;
}

.nopadding{
    padding: 0;
}

.span-width{
    width: 100%;
}

.span-height{
    height: 100%;
}

.padding_5{
    padding: .5em;
}

.padding1{
    padding: 1em;
}

.padding2{
    padding: 2em;
}

h1, h2, h3, h4, h5{
    margin: 0;
}

hr{
    width: 100%;
    border: solid .5px rgba(0, 0, 0, 0.168);
    margin-top: 0;
    margin-bottom: 0;
}

.overflow-y-scroll{
    overflow-y: scroll;
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.scrollbar::-webkit-scrollbar{
    width: 3.5px;
}
.scrollbar::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 100vw;
}
.scrollbar::-webkit-scrollbar-track{
    background: transparent;
}

.large-icon{
    font-size: 4em;
}

.big-icon{
    font-size: 2em;
}

.middle-icon{
    font-size: 1.5em;
}