/* Card */
.card1{
    padding: 1.5em;
}

.card2{
    padding: 1em;
}

.card3{
    padding: .5em;
}

.round{
    border-radius: .2em;
}

/* Buttons */
.btn{
    border: solid black 2px;
    padding: .2em;
    transition: 
        box-shadow .2s ease-out,
        transform .2s ease-out;
    cursor: pointer;
}


.btn:hover{
    box-shadow: 0 0 .5ex rgba(38, 15, 39, 0.697);
    transform: scale(1.01);
}

.btn:active{
    box-shadow: none;
    transform: scale(1);
}

.btn.color-primary{
    border: solid var(--primary-color-strengthen) 2px;
}

.btn.color-secondary{
    border: solid var(--secondary-color-strengthen) 2px;
}

.btn.g5, .btn.g4, .btn.g3, .btn.g2, .btn.g1{
    border: solid var(--primary-color) 2px;
}

/* Dropdown Menu */
.dropdown:not(.active) > .dropdown-content{
    display: none;
}

.dropdown .toggle-dropdown::before{
    font-family: "iconfont";
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown:not(.active) .toggle-dropdown::before{
    content: "\e629";
}

.dropdown.active .toggle-dropdown::before{
    content: "\e628";
}