/* Card */
.card1{
    padding: 1.5em;
}

.card2{
    padding: 1em;
}

.card3{
    padding: .5em;
}

.round{
    border-radius: .2em;
}

/* Buttons */
.btn{
    border: solid black 2px;
    padding: .2em;
    transition: 
        box-shadow .2s ease-out,
        transform .2s ease-out;
    cursor: pointer;
    user-select: none;
}

.btn *{
    cursor: pointer;
}

.btn:hover{
    box-shadow: 0 0 .5ex rgba(38, 15, 39, 0.697);
}

.btn:active{
    box-shadow: none;
}

.btn.color-primary{
    border: solid var(--primary-color-strengthen) 2px;
}

.btn.color-secondary{
    border: solid var(--secondary-color-strengthen) 2px;
}

.btn.g5, .btn.g4, .btn.g3, .btn.g2, .btn.g1{
    border: solid var(--primary-color) 2px;
}

.btn.noborder{
    border: none;
}

input[type="text"].btn{
    cursor: text;
}

/* Dropdown Menu */
.dropdown:not(.active) > .dropdown-content{
    display: none;
}

.dropdown:not(.active) hr{
    display: none;
}

.dropdown > .toggle-dropdown::before{
    font-family: "iconfont";
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: .5em;
}

.dropdown:not(.active) > .toggle-dropdown::before{
    content: "\e629";
}

.dropdown.active > .toggle-dropdown::before{
    content: "\e628";
}

form.dropdown-content{
    margin-left: 1em;
}

/* Form Data */
input[type="checkbox"]{
    display: none;
}

input[type="checkbox"] + .checkmark::before{
    font-family: "iconfont";
    content: "\e666";
    opacity: 0;
    padding: .5em;
}

input[type="checkbox"]:checked + .checkmark::before{
    opacity: 1;
}

/* Reverse-Order Button */
#reverse-order div::before{
    font-family: "iconfont";
    content:"\e705";
}
#reverse-order input[type="checkbox"]:checked + div::before{
    content:"\e70c";
}

#reverse-order:not(.active) ~ label > span.negative-order{
    display: none;
}
#reverse-order.active ~ label > span.positive-order{
    display: none;
}

.switch input[type="radio"]{
    display: none;
}

.switch label{
    background: var(--g3);
    color: white;
    padding-left: .2em;
    padding-right: .2em;
}

.switch label.active{
    opacity: 1;
    background: var(--primary-color);
    color: white;
}